<h3 *ngIf="languages.length == 0">Loading...</h3>
<div 
    class="container"
    *ngIf="languages.length > 0">
    <h3>Employee Form</h3>
    <form 
        #employeeForm="ngForm"
        (submit)="submitForm(employeeForm)"
        novalidate>
        <div class="form-group">
            <label
                for="firstNameId">
                First Name
            </label>
            <input
                id="firstNameId"
                class="form-control"
                [class.is-invalid]="(firstName.touched || firstName.dirty) && firstName.errors"
                type="text"
                placeholder="First Name"
                required
                pattern="^[A-Za-z]{3,25}$"
                #firstName="ngModel"
                name="firstName"
                [ngModel]="employee.firstName"
                (ngModelChange)="firstNameToUpperCase($event)">
            <div 
                class="invalid-feedback"
                *ngIf="(firstName.touched || firstName.dirty) && firstName.errors">
                <div
                    *ngIf="firstName.errors.required">
                    First Name is required.
                </div>
                <div
                    *ngIf="firstName.errors?.pattern">
                    First Name not valid.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label
                for="lastNameId">
                Last Name
            </label>
            <input
                id="lastNameId"
                class="form-control"
                [class.is-invalid]="(lastName.touched || lastName.dirty) && lastName.errors"
                type="text"
                placeholder="Last Name"
                required
                pattern="^[A-Za-z]{3,25}$"
                #lastName="ngModel"
                name="lastName"
                [ngModel]="employee.lastName"
                (ngModelChange)="lastNameToUpperCase($event)">
            <div 
                class="invalid-feedback"
                *ngIf="(lastName.touched || lastName.dirty) && lastName.errors">
                <div
                    *ngIf="lastName.errors.required">
                    Last Name is required.
                </div>
                <div
                    *ngIf="lastName.errors?.pattern">
                    Last Name not valid.
                </div>
            </div>
        </div>

        <div class="form-check">
            <input 
                class="form-check-input" 
                type="checkbox" 
                id="fullTimeCheckboxId"
                name="is-full-time"
                [(ngModel)]="employee.isFullTime">
            <label 
                class="form-check-label" 
                for="fullTimeCheckboxId">
                Full Time Employee
            </label>
        </div>

        <div class="form-group">
            <h5>Payment Type</h5>
            <div 
                class="form-check form-check-inline">
                <input 
                    class="form-check-input" 
                    type="radio" 
                    name="payment-type" 
                    id="w2PaymentTypeId" 
                    value="w2"
                    checked
                    [(ngModel)]="employee.paymentType">
                <label 
                    class="form-check-label" 
                    for="w2PaymentTypeId">
                    w2
                </label>
            </div>
            <div 
                class="form-check form-check-inline">
                <input 
                    class="form-check-input" 
                    type="radio" 
                    name="payment-type" 
                    id="tenPaymentTypeId" 
                    value="1099"
                    [(ngModel)]="employee.paymentType">
                <label 
                    class="form-check-label" 
                    for="tenPaymentTypeId">
                    1099
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="primaryLanguageId">Primary Language</label>
            <select 
                class="form-control" 
                id="primaryLanguageId"
                [class.is-invalid]="hasPrimaryLanguageError || primaryLanguage.invalid"
                #primaryLanguage
                required
                (blur)="validatePrimaryLanguage(primaryLanguage.value)"
                (change)="validatePrimaryLanguage(primaryLanguage.value)"
                name="primaryLanguage"
                [(ngModel)]="employee.primaryLanguage" >
                <option 
                    value="default">
                    Select a Language...
                </option>
                <option 
                    *ngFor = "let lang of languages" >
                    {{ lang }}
                </option>
            </select>
            <div class="invalid-feedback">
                Select a valid language
            </div>
        </div>

        <div class="form-group">
            <label for="">Date Hired</label>
            <input 
                type="date"
                class="form-control"
                name="hire-date"
                [(ngModel)]="employee.hireDate">
        </div>
        
        
        <button
            class="btn btn-primary"
            type="submit"
            [disabled]="employeeForm.invalid">Ok</button>
    </form>
</div>

<!-- <br>
<h4>Classes del campo 'First Name' #firstName</h4>
<p> {{ firstName.invalid }} </p>
<br>
<h4>Employee Model</h4>
<p> Employee: {{ employee | json }} </p>
<br>
<h4> Angular Model</h4>
<p> Angular: {{ employeeForm.value | json }} </p>
<br> -->
